<h2>Editing Book</h2>
<%= form_with model:@book,local:true do |f| %>
<label>Title</label>
<div class="field">
<%= f.text_field :title %>
</div>
  <label>Body</label>
<div class="field">
  <%= f.text_area :body %>
</div>
<div class="actions">
  <%= f.submit 'Update Book' %>
</div>
<% end %>